@font-face {
    font-family: 'Oxygen', sans-serif;
    src: "https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap";
}
@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=Oxygen:wght@700&display=swap";
}


/* ==General== */

::selection {
    background-color: yellow;
    color: black;
}

h1, h2, h3, p, li {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1rem;
}

body {
    background-color: rgb(239, 239, 239);
    margin: 0;
    min-height: 100%;
}

h1 {
    font-size: 36px;
}

h2 {
    line-height: 1;
    font-size: 24px;
}

p {
    line-height: 1.3;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    line-height: 1.2;
    font-size: 19px;
    margin-bottom: 15px;
}

li:before {
    font-family: 'IBM Plex Mono', monospace;
    content: '>';
    margin-right: 0.5rem;
}

a {
    color: #3657ba;
}

a:hover {
    color: #202667;
    text-decoration-thickness: 3px;
}

h1 a:hover{
    text-decoration-thickness: 5px;
}

h2 a:hover {
    text-decoration-thickness: 4px;
}

h1 + p {
    margin-top: 0px;
}

a:focus {
    background-color: yellow;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


/* ==Structural== */

.content {
    min-height: 95vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.two-thirds-container {
    display: inline-block;
    vertical-align: top;
    width: 66%;
}

.one-third-container {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.text-content-block {
    padding: 0 15px;
}

.related-content-block {
    margin-top: 60px;
    padding: 0 15px 0 15px;
}


/* ==Nav Elements== */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    background-color: #111;
}

nav a {
    font-size: large;
    font-family: 'Oxygen', sans-serif;
    text-decoration: none;
    color: #ddd;
    font-size: 2rem;

    text-align: center;
    border: none;
    padding: 10px 30px;
}

nav a:hover {
    color: #eee;
    text-decoration: underline;
}


/* ==Footer Elements== */

footer {
    min-height: 20vh;
    background-color: #111;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh min(50px, 5vw);
}

.footer-content a, footer p, footer li {
    color: rgb(153, 153, 153);
}

.footer-content ul {
    padding-inline-start: 15px;
}

.footer-content a:hover {
    color:rgb(226, 226, 226);
}

.footer-content li {
    margin-bottom: 10px;
}

.footer-column {
    width: 300px;
}

.footer-column img {
    opacity: 50%;
    height: 32px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.footer-column img:hover {
    opacity: 85%;
}

#social-media {
    text-align: center;
}


/* ==Other== */

#image-roll {
    display: flex;
    flex-wrap: wrap;
}

#image-roll img {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* ==Screen Size Queries== */

@media (max-width: 1145px) {
    .content {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 640px) {
    nav{
        margin-left: -15px;
        margin-right: -15px;
    }

    .two-thirds-container, .one-third-container {
        width: 100%;
    }

    .related-content-block {
        margin-top: 0;
    }

    p, li {
        font-size: 16px;
    }

    ul {
        padding-inline-start: 15px;
    }

    #image-roll {
        justify-content: center;
    }
}
