@font-face {
    font-family: 'Oxygen', sans-serif;
    src: "https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap";
}
@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=Oxygen:wght@700&display=swap";
}


/* ==General== */

h1, h2, h3, p, li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

body {
    background-color: rgb(224, 224, 224);
    margin: 0;
    min-height: 100%;
}

h1 {
    font-size: 36px;
}

h2 {
    line-height: 1;
    font-size: 24px;
}

p {
    line-height: 1.2;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    line-height: 1.2;
    font-size: 19px;
    margin-bottom: 15px;
}

li:before {
    font-family: 'IBM Plex Mono', monospace;
    content: '>';
    margin-right: 0.5rem;
}

a {
    color: #3657ba;
}

a:hover {
    color: #202667;
    text-decoration-thickness: 3px;
}

h1 a:hover{
    text-decoration-thickness: 5px;
}

h2 a:hover {
    text-decoration-thickness: 4px;
}

h1 + p {
    margin-top: 0px;
}


/* ==Structural== */

.content {
    min-height: 95vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.two-thirds-container {
    display: inline-block;
    vertical-align: top;
    width: 66%;
}

.one-third-container {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.text-content-block {
    padding: 0 15px;
}

.related-content-block {
    padding: 50px 15px 0 15px;
}


/* ==Nav Elements== */

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

nav a {
    font-size:            large;
    font-family:          'Oxygen', sans-serif;
    text-decoration:      none;
    color:              rgb(14, 14, 14);
    background-color:   rgb(224, 224, 224);
    font-size: 2rem;

    /* -moz-box-shadow:      inset 0 0 5px #ffffff;
    -webkit-box-shadow:   inset 0 0 5px #ffffff;
    box-shadow:           inset 0 0 5px #ffffff; */
    transition: background-color 0.3s ease-in-out,
     color 0.3s ease-in-out,
     -moz-box-shadow 0.5s ease-in-out,
     -webkit-box-shadow 0.5s ease-in-out,
     box-shadow 0.5s ease-in-out;

    text-align: center;
    border: none;
    padding: 10px 30px;
    border-radius: 0 0 15px 15px;
}

nav a:hover {
    background-color:   rgb(49, 49, 49);
    color:              rgb(240, 240, 240);
    -moz-box-shadow:      inset 0 0 10px #000000;
    -webkit-box-shadow:   inset 0 0 10px #000000;
    box-shadow:           inset 0 0 10px #000000;
}


/* ==Footer Elements== */

footer {
    min-height: 20vh;
    background-color: rgb(0, 0, 0);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5vh min(50px, 5vw);
}

.footer-content a, footer p, footer li {
    color: rgb(153, 153, 153);
}

.footer-content ul {
    padding-inline-start: 15px;
}

.footer-content a:hover {
    color:rgb(226, 226, 226);
}

.footer-content li {
    margin-bottom: 10px;
}

.footer-column {
    width: 300px;
}

.footer-column img {
    opacity: 50%;
    height: 32px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.footer-column img:hover {
    opacity: 85%;
}

#social-media {
    text-align: center;
}


/* ==Other== */

#image-roll {
    display: flex;
    flex-wrap: wrap;
}

#image-roll img {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* ==Screen Size Queries== */

@media (max-width: 1145px) {
    .content {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 960px) {
    nav {
        justify-content: center;
    }
    nav a {
        flex-basis: 40%;
    }
}

@media (max-width: 640px) {
    nav a {
        flex-basis: 51%;
    }

    .two-thirds-container, .one-third-container {
        width: 100%;
    }

    p, li {
        font-size: 16px;
    }

    ul {
        padding-inline-start: 15px;
    }

    #image-roll {
        justify-content: center;
    }
}
