<footer>
    <div>
        <p>Useful Links:</p>
        <ul>
            <li><a href="index">Home</a></li>
            <li><a href="../res/sitemap.txt">Sitemap</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="https://youtu.be/gGRkjW8hnPk">Somewhere else...</a></li>
        </ul>
    </div>
    <div>
        <a href="https://github.com/elliott-huge"><img src="../res/GitHublight-64px.png" alt="github icon"/></a>
        <a href="https://www.linkedin.com/in/elliott-huge"><img src="../res/linkedinlight-64px.png" alt="linkedin icon"/></a>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</footer>
