<footer>
    <div class="footer-content">
        <div class="footer-column">
            <ul>
                <li><a href="/html/index">Homepage</a></li>
                <li><a href="../res/sitemap.txt" download>Download Sitemap</a></li>
                <li><a href="/html/contact">Contact Elliott</a></li>
                <li><a href="/res/LICENSE.txt">License</a></li>
            </ul>
        </div>
        <div class="footer-column" id="social-media">
            <a href="https://github.com/elliott-huge"><img src="../res/GitHublight-64px.png" alt="github icon"/></a>
            <a href="https://www.linkedin.com/in/elliott-huge"><img src="../res/linkedinlight-64px.png" alt="linkedin icon"/></a>
        </div>
    </div>
</footer>
