---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../res/icon.png"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <meta name="description" content="Get Elliott's contact details"/>
        <title>Contact Elliott</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <div class="two-thirds-container">
                <div class="text-content-block">
                    <h1>Contact</h1>
                    <h2>Need to get in touch?</h2>
                    <ul>
                        <li>Linkedin: <a href="https://www.linkedin.com/in/elliott-huge">elliott-huge</a></li>
                        <li>Github: <a href="https://github.com/elliott-huge">elliott-huge</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
