---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../res/icon.png"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <meta name="description" content="Elliott H.'s CV"/>
        <title>Elliott H.</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <div class="two-thirds-container">
                <div class="text-content-block">
                    <h1>Curriculum Vitae</h1>
                    <h2>Personal summary</h2>
                    <p>
                        A computer scientist working as a User Experience (UX) designer.<br>
                        Currently working on ChildFirst: a Case Management System (CMS) which supports 1,600 social workers to represent 140,000 children per year in the family court.
                    </p>
                    <h2>Employment history</h2>
                    <p>
                        Years of Experience: 2<br>
                        Sectors: <i>Social work, Fast-Moving Consumer Goods (FMCG) manufacturing, Research</i>
                    </p>
                    <h3><span class="material-symbols-outlined" aria-hidden="true">design_services</span>UX Designer (Current role)</h3>
                    <p>&emsp;<i>Children and Family Court Advisory and Support Service (Cafcass)</i></p>
                    <ul>
                        <li>Designing new and amended ChildFirst CMS features using Figma and the Material design system.</li>
                        <li>Collaborating with users, external/internal stakeholders, and a third-party development team to ensure requirements are discovered, designed for, and developed accordingly.</li>
                        <li>Working as product-owner for Cafcass' corporate intranet, working toward business-owner objectives and information findability.</li>
                        <li>Advocating for usability and accessibility according to Web Content Accessibility Guidelines (WCAG) in digital projects.</li>
                        <li>Conducting business analysis between His Majesty's Court and Tribunal Service (HMCTS) and Cafcass on automation projects via Application Programming Interfaces (API).</li>
                    </ul>
                    <br>

                    <h3><span class="material-symbols-outlined" aria-hidden="true">terminal</span>IT Officer / Junior Software Developer</h3>
                    <p>&emsp;<i>UK-based moulded packaging manufacturer</i></p>
                    <ul>
                        <li>Designed and developed a web-based Overall Equipment Efficiency (OEE) reporting app using Adobe XD, Microsoft Server Studio, and C# .NET Core.</li>
                        <li>Procured and deployed programmable Zebra label printers to enable future automation, quality control tracing, and production reporting.</li>
                        <li>Designed a SQL database to replace paper, .docx, and .xlsx formatted product information.<br>
                            This laid the groundwork for a Product Information System (PrInS) to centralise data about: versioned products, product packaging configurations, physical tooling (product molds), and corresponding machine settings.</li>
                        <li>Investigated linear programming for optimal allocation of finite production resources by cost/gain, and staff by proficiency.</li>
                        <li>Procured of a stock control system to replace manual .xlsx based stock control.</li>
                        <li>Advocated for improved working conditions and Health & Safety (H&S) standards in line with Health and Safety Executive (HSE) guidelines.</li>
                    </ul>
                    <br>

                    <h3><span class="material-symbols-outlined" aria-hidden="true">biotech</span>Co-Founder, Generalist</h3>
                    <p>&emsp;<i>Dreaming Spires</i></p>
                    <ul>
                        <li>Project-managed several open-source software for research projects.</li>
                        <li>Conducted thorough requirements capture, user interviews, and interface design where applicable.</li>
                        <li>Delivered an online UX presentation and workshop at an  Alan Turing Institute event on Research Software Engineering (RSE).</li>
                        <li>Prepared contracts and handled account management for several research clients.</li>
                        <li>Collaborated with various research institutions including: University of Cambridge, University of Oxford, Max Planck Institute Berlin, and Harvard Department of Anthropology.</li>
                    </ul>
                    <br>

                </div>
            </div>
            <div class="one-third-container">
                <div class="related-content-block">
                    <h2>Related links</h2>
                    <ul>
                        <li><a href="/html/contact">Contact Elliott</a></li>
                        <li><a href="/html/projects">View Elliott's projects</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
