---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include gtm_top.html %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../res/icon.png" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <meta name="description" content="Web dashboard" />
    <title>Dashboard</title>
  </head>
  <body>
    {% include gtm_bottom.html %}
    <div id="datetime">
      <h3 id="time"></h3>
      <h3 id="date"></h3>
      <script>
        `use strict`;
        function refreshTime() {
          const time = document.getElementById("time");
          const date = document.getElementById("date");
          const d = new Date();
          const ft = d.toLocaleTimeString();
          const fd = d.toLocaleDateString('en-GB');
          time.textContent = ft;
          date.textContent = fd;
        }
        setInterval(refreshTime, 1000);
      </script>
    </div>
    <div class="content">
      <div class="panel">
        <div class="panel-content">
          <h3>
            <span class="material-icons-outlined">chat_bubble_outline</span>
            <a target="_blank" href="https://www.messenger.com/">Messenger</a>
          </h3>
          <h3>
            <span class="material-icons-outlined">travel_explore</span>
            <a target="_blank" href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a>
          </h3>
          <h3>
            <span class="material-icons-outlined">mail</span>
            <a target="_blank" href="https://mail.google.com/mail/u/0/">Gmail</a>
          </h3>
          <h3>
            <span class="material-icons-outlined">psychology</span>
            <a target="_blank" href="https://chat.openai.com/chat">ChatGPT</a>
          </h3>
        </div>
      </div>
      <div class="panel">
        <div id="middle-panel" class="panel-content">
          <h2 id="visits"></h2>
          <p>
            <i>Weniger aber besser</i>
          </p>
        </div>
      </div>
      <div class="panel">
        <div class="panel-content">
          <h3>
            <span class="material-icons-outlined">timer</span>
            <a target="_blank" href="https://www.google.com/search?q=15+minute+timer">15 min</a>
          </h3>
          <h3>
            <span class="material-icons-outlined">schedule</span>
            <a target="_blank" href="https://www.google.com/search?q=30+minute+timer">½ an hour</a>
          </h3>
          <h3>
            <span class="material-icons-outlined">more_time</span>
            <a target="_blank" href="https://www.google.com/search?q=45+minute+timer">45 minute</a>
          </h3>
          <h3>
            <span class="material-icons">hourglass_top</span>
            <a target="_blank" href="https://www.google.com/search?q=60+minute+timer">1 hour</a>
          </h3>
        </div>
      </div>
    </div>
  </body>
  <script>
    function cb(response) {
      document.getElementById('visits').innerText = "Visit " + response.value;
    }
  </script>
  <script async src="https://api.countapi.xyz/hit/elliotthuge.dev/visits?callback=cb"></script>
</html>