---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../res/icon.png"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <meta name="description" content="Conceptual dimensions that underpin design"/>
        <title>Design Dimensions</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <div class="two-thirds-container">
                <div class="text-content-block">
                    <h1>Design Dimensions</h1>
                    <p>
                        Design work is messy.
                    </p>
                    <h2>Intro'</h2>
                    <p>
                        Good designs are often the result of what I like to call 'idea-thrashing'. <br>
                        Broadly speaking, a designer takes in swathes of information about a design problem, then creates and assesses their ideas. <br>
                        By the end, the best ideas are those left relatively unscathed.
                    </p>
                    <p>
                        Design dimensions - or principles - are the conceptual frameworks designers use to help create and assess their ideas against the information available. <br>
                    </p>
                    <p>
                        A design problem, its various factors, and some possible design ideas are enigmatic to someone lacking these concepts. In fact, you could argue that <i>they are not a designer at all</i>.
                    </p>
                    <p>
                        If a design idea were a break-board, design dimensions are both the hands that set them up, and the many fists attempting to break them.
                    </p>
                    <h2>User-testing?</h2>
                    <p>
                        You're right. User-testing is real, and design dimensions aren't!
                    </p>
                    <p>
                        Design dimensions are mere concepts which frame and describe reality, they're evolving constructs intended to make solving design problems easier. <br>
                        It can therefore be said that design dimensions aren't inherently canonical - although some seem pretty close.
                    </p>
                    <p>
                        This is why the ultimate in design practice is user-testing: if a user-test adequately reflects reality, then they in effect are applying every possible design dimensions at once - including those as yet undescribed.
                    </p>
                    <p>
                        "Just user-test, then!" I hear you cry. Yes, we should probably be user-testing way more. However, <i>user-testing doth not a designer make</i>.
                    </p>
                    <h2>Justifying design dimensions</h2>
                    <p>
                        The case for utilising design dimensions is twofold: to avoid rediscovering fire, and to support the creative process.
                    </p>
                    <p>
                        <i>04/09/2022 - To be continued</i>
                    </p>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
