---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" href="../res/icon.png"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <meta name="description" content="This is a homepage on a personal website for exercising web-development skills, demonstrating my previous work, and provide a blank canvas for web-based project."/>
        <title>Elliott H.</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <h1>Home</h1>
            <p>Hi; welcome</p>
            <h2>and... Bingo</h2>
            <p>elliotthuge.dev now successfully lands here!</p>
        </div>
        {% include footer.html %}
    </body>
</html>
