---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../res/icon.png"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <meta name="description" content="This is a homepage on a personal website for exercising web-development skills, demonstrating my previous work, and provide a blank canvas for web-based project."/>
        <title>Elliott H.</title>
    </head>
    <body>
        <div class="content">
            {% include navigation.html %}
            <div class="two-thirds-container">
                <h1>Home</h1>
                <p>Hi; welcome</p>
                <h2>and... Bingo</h2>
                <p>elliotthuge.dev now successfully lands here!</p>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
