---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../res/icon.png"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <meta name="description" content="Elliott Hughes' personal website"/>
        <title>Elliott H.</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <div class="two-thirds-container">
                <div class="text-content-block">
                    <h1>Home</h1>
                    <h2>Who is Elliott?</h2>
                    <p>
                        Elliott is a Computer Scientist working as a User Experience Designer.
                    </p>
                    <p>
                        He has a passion for usability and accessibility.
                    </p>
                    <h2>Look familiar?</h2>
                    <p>
                        This site is loosely based on the UK Government Digital Service's (GDS) <a href="https://design-system.service.gov.uk/">GOV.UK Design System</a>.
                    </p>
                </div>
            </div>
            <div class="one-third-container">
                <div class="related-content-block">
                    <h2>Elliott's Projects</h2>
                    <ul>
                        <li><a href="/html/design-dimensions">On design dimensions</a></li>
                        <li><a href="/html/buttons">HTML button styling</a></li>
                        <li><a href="/html/this_website">Designing this website</a></li>
                        <li><a href="https://www.bluebelllane.co.uk/">Website for Bluebell Lane Floristry (external)</a></li>
                        <li><a href="https://client.dreamingspires.dev/mat_dp_core/">Documentation for a demand projection library (external)</a></li>
                    </ul>
                </div>
                <div class="related-content-block">
                    <h2>Other Stuff</h2>
                    <ul>
                        <li><a href="/html/recipe-carbonara">A Carbonara recipe</a></li>
                        <li><a href="/html/audiophile">My audio interests</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
