---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../res/icon.ico"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <meta name="description" content="A collection of reaction images are here."/>
        <title>Elliott - Reaction Images</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <h1>They Say a Picture is Worth a Thousand Words...</h1>
            <div id="imageroll">
            {% assign image_files = site.static_files | where: "image", true %}
            {% for myimage in image_files %}
                <img src="{{ site.baseurl }}{{ myimage.path }}" alt="reaction image"/>
            {% endfor %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
