---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../res/icon.png"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <meta name="description" content="Why copy the government?"/>
        <title>Projects: This Website</title>
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">
            <div class="two-thirds-container">
                <div class="text-content-block">
                    <h1>This Website</h1>
                    <h2>Why take inspiration from the UK Government for website design?</h2>
                    <p>
                        The Government Design Service (GDS) - along with all public-sector design teams - are uniquely positioned in the world of interaction design:
                    </p>
                    <ul>
                        <li>They are unlikely to abuse 'Dark Patterns' (<a href="https://blog.mozilla.org/en/internet-culture/mozilla-explains/deceptive-design-patterns/">you can read about deceptive design on mozilla.org</a>) since their organisation is not oriented around profit.*</li>
                        <li>Usability and accessibility for end users are some of their employer's Key Performance Indicators (KPIs) instead of an afterthought.</li>
                        <li>Due to the many faceted functions of government, their work is interdisciplinary and therefore likely to be applicable in various contexts.</li>
                        <li>They have a unique opportunity to spend time conducting design research, where the private sector might prefer to rush an artefact to production.</li>
                    </ul>
                    <p>
                        *<i>You could argue that HMRC is 'profit-seeking'.</i>
                    </p>
                    <h2>Okay, but why for your personal site?</h2>
                    <p>
                        <i>Imitation is the highest form of flattery, I suppose...</i>
                    </p>
                    <p>
                        Getting a website to be usable is a high priority for me; taking inspiration from the GDS' design system gives this website a solid foundation to build upon.
                    </p>
                    <p>
                        From an interface design perspective, it is also a great opportunity to explore the design thinking and implementation details behind usable website components.
                    </p>
                    <h2>There's something else...</h2>
                    <p>
                        Yep, there is. While purely coincidence, this site has similar motives (and appearance) to these satirically minimalist websites:
                    </p>
                    <ul>
                        <li><a href="">Motherf***ing Website</a></li>
                        <li><a href="">Better Motherf***ing Website</a></li>
                        <li><a href="">The Best Motherf***ing Website</a></li>
                        <li><a href="">Perfect Motherf***ing Website</a></li>
                    </ul>
                </div>
            </div>
            <div class="one-third-container">
                <div class="related-content-block">
                    <h2>Similar Content</h2>
                    <ul>
                        <li><a href="/html/buttons">A collection of styled HTML buttons</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
