---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../../res/icon.png"/>
        <link rel="stylesheet" href="../../css/style.css"/>
        <meta name="description" content="How this website is being designed, built, and hosted."/>
        <title>Projects: This Website</title>
    </head>
    <body>
        <div class="content">
            {% include navigation.html %}
            <div class="two-thirds-container">
                <h1><a href="blah.com">blah</a></h1>
                <h2><a href="blah.com">blah</a></h2>
                <p>

                </p>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
